
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">

    </head>

    <body>
        <nav>
            <div>
                <div>
                    <div>
                        <div class="flex">
                            <img class="h-8 w-8" src="{% static 'myapp/images/icon-shop.png' %}" alt="logo"/>
                            <span class="text-xl">Pro Shop</span>
                
                        </div>
                
                    </div>
                
                </div>

            </div>
            
        </nav>
        
        <h2>
            
            {% for item in items %}
            <a href="{% url 'myapp:detail' item.id %}">

            | ID : {{item.id}} | Имя: {{item.name}} | Цена: {{item.price}}| Описание: {{item.description}} <br/>
            <a>
            {% endfor %}

        </h2>

    </body>
</html>    
